@{
    ViewData["Title"] = "Home Page";
}


<div id="mainContainer" class="container p-4" >
               
      @*  <div class="chatsBox   mb-2">
            <div class="container">
                <p id="userMessage">Iam Good, Thanks</p>
                <span class="time-right" id="recieveTime">11:00</span>
            </div>
        </div>
*@
    </div>

<div class="container sendMessageBox">
    <div class="row">
        <div class="col-11">
            <input id="messageTextBox" type="text" placeholder="SendMessage" class="form-control" />
        </div>
        <div class="col ">
            <input id="sendMessageBtn" type="button" class="btn btn-primary" value="Send" />
        </div>
    </div>
</div>
